<div class="container jumbotron">
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-lg">
        <h2><em>Create Bulk Request</em></h2>
      </div>
    </div>
  </div>
  <div class="jumbotron alert alert-warning">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-8">
            <strong>Note! Follow the steps for bulk approval request</strong>
            <p>1. Download the template for bulk requests</p><button (click)="downloadFile()">download</button>
            <p>2. Fill the sheet and upload. (all fields are mandatory, only 1 sheet)</p>
            <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" ID="fileSelect" runat="server" (change)="onFileChange($event)" multiple="false" />
        </div>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="alert alert-success" *ngIf="uploadData">
        <strong>Success!</strong> File Uploaded.
    </div>
  </div>
  <app-submit-form *ngIf="uploadData" [data]="uploadData"></app-submit-form>
</div>
