<ngx-spinner bdOpacity=0.9 bdColor="#333" size="large" color="#fff" type="ball-atom" fullScreen="false">
  <p style="color: white"> Loading. Please Wait...</p>
</ngx-spinner>

<form class="jumbotron create-request form-horizontal" [formGroup]="visitorForm">
  <div class="row header-common">
    <div class="row">
      <div class="col-sm-6 text-left">
        <h3 class="visitor-type-container">Create Request for <p class="visitor-type">
            <strong>{{ visitorForm?.get('visitorType').value}}</strong></p>
        </h3>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <div class="row">
          <label class="control-label col-sm-12" [for]="'location'">Visit Location</label>
          <div class="col-sm-12">
            <label [class.error-form]="visitorForm.get('location').touched && visitorForm.get('location').invalid"
              class="custom-select" for="location">
              <select id="location" name="location" formControlName="location">
                <option value="">Select an option</option>
                <option>Bangalore</option>
                <option>Bhubaneswar</option>
                <option>Chandigarh</option>
                <option>Chennai</option>
                <option>Gurgaon</option>
                <option>Hyderabad STP: Pearl Park</option>
                <option>Hyderabad SEZ: Prakriti Park</option>
                <option>Indore</option>
                <option>Jaipur</option>
                <option>Mangalore</option>
                <option>Mangalore SEZ</option>
                <option>Mohali</option>
                <option>Mysore</option>
                <option>Nagpur</option>
                <option>Pune</option>
                <option>Thiruvananthapuram</option>
              </select>
            </label>
          </div>
          <div class="col-sm-12">
            <app-error-component [control]="visitorForm.controls.location" [display]="'Visit Location'">
            </app-error-component>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <div class="row">
          <label class="control-label col-sm-12" [for]="'dateTimeAllowedFrom'">Visitor Entry Date</label>
          <div class="col-sm-12">
            <my-date-picker
              [class.date-form-error]="visitorForm.get('dateTimeAllowedFrom').touched && visitorForm.get('dateTimeAllowedFrom').invalid"
              name="dateTimeAllowedFrom" [options]="myDatePickerOptions" [placeholder]="'placeholder'"
              formControlName="dateTimeAllowedFrom"></my-date-picker>
          </div>
          <div class="col-sm-12">
            <app-error-component [control]="visitorForm.controls.dateTimeAllowedFrom" [display]="'Visitor Entry Date'">
            </app-error-component>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <div class="row">
          <label class="control-label col-sm-12" [for]="'dateTimeAllowedTo'">Visitor Exit Date</label>
          <div class="col-sm-12">
            <my-date-picker
              [class.date-form-error]="visitorForm.get('dateTimeAllowedTo').touched && visitorForm.get('dateTimeAllowedTo').invalid"
              name="dateTimeAllowedTo" [options]="myDatePickerOptions" [placeholder]="'placeholder'"
              formControlName="dateTimeAllowedTo"></my-date-picker>
          </div>
          <div class="col-sm-12">
            <app-error-component [control]="visitorForm.controls.dateTimeAllowedTo" [display]="'Visitor Entry Date'">
            </app-error-component>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <app-form-control [name]="'empMail'" [display]="'Emp Mail'" [control]="visitorForm.controls.empMail">
      </app-form-control>
    </div>
  </div>
  <div formArrayName="visitors" *ngFor="let item of visitorForm.get('visitors')?.controls; let i = index;">
    <div class="visitor-form animated slideInRight delay-2s" [formGroupName]="i">
      <div class="row">
        <div class="col-sm-4">
          <app-form-control [name]="'name'" [display]="'Visitor Name'" [control]="item.controls.name">
          </app-form-control>
        </div>
        <div class="col-sm-8 visitor-unique">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="row">
                  <label class="control-label col-sm-12" for="idType">Visitor Unique Id Type</label>
                  <div class="col-sm-12">
                    <label
                      [class.error-form]="visitorForm.get('visitors').at(i).get('idType').touched && visitorForm.get('visitors').at(i).get('idType').invalid"
                      class="custom-select" for="idType">
                      <select id="idType" name="idType" formControlName="idType">
                        <option value="">Select an option</option>
                        <option>Aadhar</option>
                        <option>Driving License</option>
                        <option>Passport</option>
                        <option>Voter Id</option>
                      </select>
                    </label>
                  </div>
                  <div class="col-sm-12">
                    <app-error-component [control]="item.controls.idType" [display]="'Visitor Unique Id Type'">
                    </app-error-component>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <app-form-control [name]="'govtId'" [display]="'Visitor Unique Id'" [control]="item.controls.govtId">
              </app-form-control>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-form-control [name]="'email'" [display]="'Visitor Email Id'" [control]="item.controls.email">
          </app-form-control>
        </div>
        <div class="col-sm-6">
          <app-form-control [name]="'phoneNumber'" [display]="'Visitor Phone No'" [control]="item.controls.phoneNumber">
          </app-form-control>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <p>Need Accomodation</p>
          <label class="md-check">
            <p class="radio-accomodation">Yes<input type="radio" value="true" name="accomodationReq" formControlName="accomodationReq"></p>
          </label>
          <label class="md-check">
            <p class="radio-accomodation">No<input type="radio" value="false" name="accomodationReq" formControlName="accomodationReq"></p>
          </label>
        </div>
        <div class="col-sm-4">
          <p *ngIf="!item.controls.photo.value">Upload Visitor Photo</p>
          <img [src]="item.controls.photo.value" *ngIf="item.controls.photo.value" height="200"> <br />
          <input type='file' (change)="onSelectFile($event, i)">
        </div>
      </div>
      <div class="add-remove-container">
        <button class="button add-button" [disabled]="visitorForm.get('visitors').length === maxLimit"
          (click)="addItem()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="button remove-button" *ngIf="i !== 0" [disabled]="i == 0" (click)="removeItem(i)"><i
            class="fa fa-minus" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <button class="button" (click)="submitForm()">Submit</button>
  <button class="button" (click)="resetForm()">Reset</button>
</form>