<ngx-spinner bdOpacity=0.9 bdColor="#333" size="large" color="#fff" type="ball-atom" fullScreen="false">
  <p style="color: white"> Loading. Please Wait...</p>
</ngx-spinner>
<div class="container jumbotron bulk-submit-form" *ngIf="bulkForm">
  <form [formGroup]="bulkForm">
    <div formArrayName="visitors" *ngFor="let item of bulkForm.get('visitors')?.controls; let i = index;">
      <div class="visitor-form animated slideInRight delay-2s" [formGroupName]="i">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'visitorId'">Visitor Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('visitorId').invalid"
                type="text" class="form-control" [id]="'visitorId'"
                [formControl]="bulkForm.get('visitors').at(i).get('visitorId')">
            </div>
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'empMail'">Visitor Email Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('empMail').invalid"
                type="text" class="form-control" [id]="'empMail'"
                [formControl]="bulkForm.get('visitors').at(i).get('empMail')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'visitorType'">Visitor Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('visitorType').invalid"
                type="text" class="form-control" [id]="'visitorType'"
                [formControl]="bulkForm.get('visitors').at(i).get('visitorType')">
            </div>
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'name'">Visitor Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('name').invalid" type="text"
                class="form-control" [id]="'name'" [formControl]="bulkForm.get('visitors').at(i).get('name')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'dateTimeAllowedFrom'">Visitor Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true
                [class.error-form]="bulkForm.get('visitors').at(i).get('dateTimeAllowedFrom').invalid" type="text"
                class="form-control" [id]="'dateTimeAllowedFrom'"
                [formControl]="bulkForm.get('visitors').at(i).get('dateTimeAllowedFrom')">
            </div>
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'dateTimeAllowedTo'">Visitor Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('dateTimeAllowedTo').invalid"
                type="text" class="form-control" [id]="'dateTimeAllowedTo'"
                [formControl]="bulkForm.get('visitors').at(i).get('dateTimeAllowedTo')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'idType'">Visitor Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('idType').invalid" type="text"
                class="form-control" [id]="'idType'" [formControl]="bulkForm.get('visitors').at(i).get('idType')">
            </div>
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'govtId'">Visitor Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('govtId').invalid" type="text"
                class="form-control" [id]="'govtId'" [formControl]="bulkForm.get('visitors').at(i).get('govtId')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'phoneNumber'">Visitor Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('phoneNumber').invalid"
                type="text" class="form-control" [id]="'phoneNumber'"
                [formControl]="bulkForm.get('visitors').at(i).get('phoneNumber')">
            </div>
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'location'">Visitor Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('location').invalid"
                type="text" class="form-control" [id]="'location'"
                [formControl]="bulkForm.get('visitors').at(i).get('location')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'status'">Visitor Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('status').invalid" type="text"
                class="form-control" [id]="'status'" [formControl]="bulkForm.get('visitors').at(i).get('status')">
            </div>
            <div class="col-sm-3">
              <label class="control-label col-sm-12" [for]="'accomodationReq'">Visitor Id</label>
            </div>
            <div class="col-sm-3">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('accomodationReq').invalid"
                type="text" class="form-control" [id]="'accomodationReq'"
                [formControl]="bulkForm.get('visitors').at(i).get('accomodationReq')">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>