* {
    text-align: center;
    padding: 0px;
}

.black-background {    
    background: #000000;
}

.container-fluid {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(0deg,rgba(255,255,255,0.3),rgba(255,0,150,0.3)), url('/assets/images/bg-01.jpg'); 
}

.app-top  {
    font-family: Poppins-Regular;
    font-size: 39px;
    text-align: center;
    text-transform: uppercase;
}

button {
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
}

.header-left {
    color: white;
    background-color: black;
}

.header-right {
    background-color: #485461;
    color: black;
    font-family: Poppins-Bold, sans-serif;
    color: rgba(255, 255, 255);
}
