<div class="container jumbotron alert alert-success">
  <div class="well well-lg">
    <h2><em>Bulk Form Data</em></h2>
  </div>

  <form [formGroup]="bulkForm">
    <div formArrayName="visitors" *ngFor="let item of bulkForm.get('visitors')?.controls; let i = index;">
      <div class="jumbotron visitor-form" [formGroupName]="i">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label col-sm-12" [for]="'visitorName'">Visitor Name</label>
            </div>
            <div class="col-sm-6">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('visitorName').invalid" type="text"
                class="form-control" [id]="'visitorName'"
                [formControl]="bulkForm.get('visitors').at(i).get('visitorName')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label col-sm-12" [for]="'visitorMobileNo'">Visitor Mobile Number</label>
            </div>
            <div class="col-sm-6">
              <input disabled=true type="text" class="form-control" [id]="'visitorMobileNo'"
                [formControl]="bulkForm.get('visitors').at(i).get('visitorMobileNo')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label col-sm-12" [for]="'visitLocation'">Visit Location</label>
            </div>
            <div class="col-sm-6">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('visitLocation').invalid" type="text"
                class="form-control" [id]="'visitLocation'"
                [formControl]="bulkForm.get('visitors').at(i).get('visitLocation')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label col-sm-12" [for]="'visitorEmailId'">Visitor Email</label>
            </div>
            <div class="col-sm-6">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('visitorEmailId').invalid" type="text"
                class="form-control" [id]="'visitorEmailId'"
                [formControl]="bulkForm.get('visitors').at(i).get('visitorEmailId')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label col-sm-12" [for]="'visitorUIdType'">Visitor UId Type</label>
            </div>
            <div class="col-sm-6">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('visitorUIdType').invalid" type="text"
                class="form-control" [id]="'visitorUIdType'"
                [formControl]="bulkForm.get('visitors').at(i).get('visitorUIdType')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label col-sm-12" [for]="'visitorUId'">Visitor UId</label>
            </div>
            <div class="col-sm-6">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('visitorUId').invalid" type="text"
                class="form-control" [id]="'visitorUId'"
                [formControl]="bulkForm.get('visitors').at(i).get('visitorUId')">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label col-sm-12" [for]="'visitorType'">Visitor Type</label>
            </div>
            <div class="col-sm-6">
              <input disabled=true [class.error-form]="bulkForm.get('visitors').at(i).get('visitorType').invalid" type="text"
                class="form-control" [id]="'visitorType'"
                [formControl]="bulkForm.get('visitors').at(i).get('visitorType')">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <button (click)="submit()">Submit</button>
</div>