<ngx-spinner bdOpacity = 0.9 bdColor = "#333" size = "large" color = "#fff" type = "ball-atom" fullScreen = "false">
  <p style="color: white" > Loading. Please Wait...</p>
</ngx-spinner>

<form class="jumbotron create-request form-horizontal" [formGroup]="visitorForm">
  <div class="row header-common">
      <div class="col-sm-4">
        <div class="form-group">
          <div class="row">
            <label class="control-label col-sm-12" [for]="visitLocation">Visit Location</label>
            <div class="col-sm-12">
              <label class="custom-select" for="visitLocation">
                <select id="visitLocation" name="visitLocation" formControlName="visitLocation">
                  <option value="">Select an option</option>
                  <option>Bangalore</option>
                  <option>Bhubaneswar</option>
                  <option>Chandigarh</option>
                  <option>Chennai</option>
                  <option>Gurgaon</option>
                  <option>Hyderabad STP: Pearl Park</option>
                  <option>Hyderabad SEZ: Prakriti Park</option>
                  <option>Indore</option>
                  <option>Jaipur</option>
                  <option>Mangalore</option>
                  <option>Mangalore SEZ</option>
                  <option>Mohali</option>
                  <option>Mysore</option>
                  <option>Nagpur</option>
                  <option>Pune</option>
                  <option>Thiruvananthapuram</option>
                </select>
              </label>
            </div>
            <div class="col-sm-12">
              <app-error-component [control]="visitorForm.controls.visitLocation" [display]="'Visit Location'"></app-error-component>
            </div>
          </div>
        </div>
      </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="row">
          <label class="control-label col-sm-12" [for]="visitDate">Visit Date</label>
          <div class="col-sm-12">
            <my-date-picker name="visitDate" [options]="myDatePickerOptions" [placeholder]="'placeholder'" formControlName="visitDate"></my-date-picker>
          </div>
          <div class="col-sm-12">
            <app-error-component [control]="visitorForm.controls.visitDate" [display]="'Visitor Entry Date'"></app-error-component>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div formArrayName="visitors" *ngFor="let item of visitorForm.controls.visitors.controls; let i = index;">
    <div class="visitor-form animated slideInRight delay-2s" [formGroupName]="i">
      <div class="row">
        <div class="col-sm-4">
          <app-form-control [name]="'visitorName'" [display]="'Visitor Name'" [control]="item.controls.visitorName"></app-form-control>
        </div>
        <div class="col-sm-4">
            <app-form-control [name]="'visitorMobileNo'" [display]="'Visitor Mobile No'" [control]="item.controls.visitorMobileNo"></app-form-control>
        </div>
        <div class="col-sm-4">
            <app-form-control [name]="'visitorEmailId'" [display]="'Visitor Email Id'" [control]="item.controls.visitorEmailId"></app-form-control>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-12" [for]="visitorUIdType">Visitor Unique Id Type</label>
              <div class="col-sm-12">
                <label class="custom-select" for="visitorUIdType">
                  <select id="visitorUIdType" name="visitorUIdType" formControlName="visitorUIdType">
                    <option value="">Select an option</option>
                    <option>Aadhar Card</option>
                    <option>PAN Card</option>
                    <option>Passport Number</option>
                  </select>
                </label>
              </div>
              <div class="col-sm-12">
                <app-error-component [control]="item.controls.visitorUIdType" [display]="'Visitor Unique Id Type'"></app-error-component>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <app-form-control [name]="'visitorUId'" [display]="'Visitor Unique Id'" [control]="item.controls.visitorUId"></app-form-control>
        </div>
        <div class="col-sm-4">
          &nbsp;
          </div>
      </div>
      <div class="add-remove-container">
          <button class="button add-button" [disabled]="visitorForm.get('visitors').length === maxLimit" (click)="addItem()"><i class="fa fa-plus" aria-hidden="true"></i></button>
          <button class="button remove-button" *ngIf="i !== 0" [disabled]="i == 0" (click)="removeItem(i)"><i class="fa fa-minus" aria-hidden="true"></i></button>
      </div>
    </div>   
  </div>
  <button class="button" (click)="submitForm()">Submit</button>
  <button class="button" (click)="resetForm()">Reset</button> 
</form>