<app-container>
  <form class="contact3-form validate-form">
    <span class="contact3-form-title animated bounce delay-2s">
      Visitor Management System
    </span>
    <div class="wrap-contact3-form-radio">
      <div class="contact3-form-radio m-r-42">
        <input class="input-radio3" id="radio1" type="radio" name="choice" value="say-hi" checked="checked">
        <label class="label-radio3" for="radio1">
          Say Hi
        </label>
      </div>
      <div class="contact3-form-radio">
        <input class="input-radio3" id="radio2" type="radio" name="choice" value="get-quote">
        <label class="label-radio3" for="radio2">
          Get a Quote
        </label>
      </div>
    </div>
    <div class="wrap-input3 validate-input">
      <input class="input3" type="text" name="name" placeholder="Your Name">
      <span class="focus-input3"></span>
    </div>
    <div class="wrap-input3 validate-input">
      <input class="input3" type="text" name="email" placeholder="Your Email">
      <span class="focus-input3"></span>
    </div>
    <div class="wrap-input3 validate-input">
      <textarea class="input3" name="message" placeholder="Comments"></textarea>
      <span class="focus-input3"></span>
    </div>
    <div class="container-contact3-form-btn">
      <button class="contact3-form-btn">
        Submit
      </button>
    </div>
  </form>
</app-container>
