@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('./assets/fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('./assets/fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Extra-Bold;
  src: url('./assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf'); 
}

@font-face {
  font-family: Poppins-Italic;
  src: url('./assets/fonts/poppins/Poppins-Italic.ttf'); 
}

.text-left {
  text-align: left;
}

* {
    margin: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

.form-control, .custom-select {
  margin: 0 auto;
  height: 40px;
  width: 90%;
}

.create-request .control-label {
  text-align: center;
}

a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}
  
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}


input {
    outline: none;
    border: none;
}
  
textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}
    
.mydp {
  width: 90% !important;
}

.mydp .selectiongroup {
  height: 40px !important;
}

  input::-webkit-input-placeholder { color: rgba(255,255,255,0.8);}
  input:-moz-placeholder { color: rgba(255,255,255,0.8);}
  input::-moz-placeholder { color: rgba(255,255,255,0.8);}
  input:-ms-input-placeholder { color: rgba(255,255,255,0.8);}
  
  textarea::-webkit-input-placeholder { color: rgba(255,255,255,0.8);}
  textarea:-moz-placeholder { color: rgba(255,255,255,0.8);}
  textarea::-moz-placeholder { color: rgba(255,255,255,0.8);}
  textarea:-ms-input-placeholder { color: rgba(255,255,255,0.8);}

  
  button:hover {
      cursor: pointer;
  }