<app-container>
  <div class="container-contact3">
    <router-outlet></router-outlet>
  </div>
</app-container>
<div class="container" *ngIf="employeeNumber">
  <h2>Raise Request For :</h2>
  <div class="btn-group btn-group-justified">
    <a [routerLink]="['employee']" class="btn btn-primary">Apple</a>
    <a [routerLink]="['visitor']" class="btn btn-primary">Samsung</a>
  </div>
</div>
    <!-- <h2></h2>
    <div style="font-size:1.5em">
      <a 
        class="button5"
        style="border-color:#FFFFFF; background-color:rgba(0,0,0,0); color:#FFFFFF">Employee</a>
      <a 
        class="button5"
        style="border-color:#FFFFFF; background-color:rgba(0,0,0,0); color:#FFFFFF">Visitor</a>
    </div>
  </div> -->